<div style="text-align:center" class="page-title">
  <h1>Crime Tracker</h1>
</div>
<br>
<div class="row">
  <div class="col-md-3 selection">
    <div>
      <div class="wrapper">
        <div>Crime Type</div>
        <select [(ngModel)]="selectedCrimeType">
          <option *ngFor="let marker of crimeTypes" [value]="marker">{{marker}}</option>
        </select>
      </div>
      <div class="wrapper">
        <div>Month</div>
        <select [(ngModel)]="selectedMonth">
          <option *ngFor="let marker of months" [value]="marker.value">{{marker.text}}</option>
        </select>
      </div>
      <div class="wrapper">
        <div>Week</div>
        <select [(ngModel)]="selectedWeek">
          <option *ngFor="let marker of weeks" [value]="marker">{{marker}}</option>
        </select>
      </div>
      <div class="wrapper">
        <div>Weekday</div>
        <select [(ngModel)]="selectedWeekday">
          <option *ngFor="let marker of weekdays" [value]="marker.value">{{marker.text}}</option>
        </select>
      </div>
      <div class="wrapper">
        <div>Time</div>
        <select [(ngModel)]="selectedTimePeriod">
          <option *ngFor="let marker of timePeriods" [value]="marker.value">{{marker.text}}</option>
        </select>
      </div>
      <div class="wrapper">
        <div>Area ID</div>
        <select [(ngModel)]="selectedAreaID">
          <option *ngFor="let marker of areaIDs" [value]="marker">{{marker}}</option>
        </select>
      </div>
      <button type="button" (click)="queryServer()" class="btn btn-primary">Show Result</button>
    </div>
  </div>
  <div class="col-md-9">
    <div class="text-center">
      <h3>
        <div #gmap style="width:100%;height:450px"></div>
      </h3>
    </div>
  </div>
</div>
